<style type="text/css">
  .modal-content{
    font-size: 18px;
  }
.finalImagesList { list-style: none; }
.finalImagesList li { display: inline; } 
.finalImagesList li img { border: 2px solid white; cursor: pointer; height: 200px !important; width: 300px !important;}
.finalImagesList li img:hover { border: 2px solid black; }
.finalImagesList li img.hover { border: 2px solid black; }
</style>
  <a id="startGameModalButton" data-target="startGameModal" class="modal-trigger" href="#startGameModal" style="display:none;">Start Game Modal</a>

  <div id="startGameModal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Welcome to the world of AI</h4>
      <div class="divider"></div>
      <p>You are going to play the game of questionnaire with an AI Bot(<b>VICKI</b>).</p>
      <ul>
        <li>The bot will show you 24 images.</li>
        <li>Bot has set one image as the target image and your task is to find the target image.</li>
        <li>You have to read the mind of bot by asking him as many questions about the imgage.</li>
      </ul>
      <div class="row">
        <p>Please enter your name before continuing.</p>
        <div class="input-field col s12 l8">
          <input id="username" name="username" type="text" class="validate">
          <label for="username">Your Name...(Optional)</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-blue btn-flat ">Yes, I am ready to Play.</a>
    </div>
  </div>


  <script type="text/javascript">
    $("#username").attr("required", "true");
    $('.modal-trigger').leanModal({
        dismissible: false, // Modal can be dismissed by clicking outside of the modal
        opacity: .6, // Opacity of modal background
        in_duration: 300, // Transition in duration
        out_duration: 200, // Transition out duration
        starting_top: '4%', // Starting top style attribute
        ending_top: '10%', // Ending top style attribute
        ready: function() {}, // Callback for Modal open
        complete: function() {
          socket.send(JSON.stringify({
            event: "start",
            socketid: "{{ socketid }}",
            username: $("#username").val(),
          }));
        }
      }
    );
    $(document).ready(function() {
      $("#startGameModalButton").trigger("click");
    });
  </script>


  <div id="endGameModal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Select the Image based on your inference</h4>
      <div class="divider"></div>
        <div class="row">
          <ul class="finalImagesList">
            {% for i in random_images %}
              <li><img src="{{ i }}" class="final_images"></li>
            {% endfor %}
          </ul>
        </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-blue btn-flat " id="submitFinalImage">Submit Image</a>
    </div>
  </div>

  <script type="text/javascript">
  var predicted_image = "";
    $(".final_images").click(function() {

        $(".final_images").not(this).removeClass("hover");

        $(this).toggleClass("hover");
        predicted_image = $(this).attr("src");
        console.log(predicted_image);
      });

    $("#submitFinalImage").click(function(){
      socket.send(JSON.stringify({
        event: "end",
        socketid: "{{ socketid }}",
        predicted_image: predicted_image,
      }));
    });

    $('.modal-trigger1').leanModal({
        dismissible: true, // Modal can be dismissed by clicking outside of the modal
        opacity: .6, // Opacity of modal background
        in_duration: 300, // Transition in duration
        out_duration: 200, // Transition out duration
        starting_top: '2%', // Starting top style attribute
        ending_top: '15%', // Ending top style attribute
        ready: function() {}, // Callback for Modal open
        complete: function() {
        }
      }
    );

  </script>


<div id="congratsModal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Congratulations! You have found the right image!</h4>
    <div class="divider"></div>
      <div class="row">
      <h5>Time taken to find the correct image: <b><span id="time_elapsed"></span> minutes.</b></h5>
      <p>We hope you enjoyed playing the game. This task is mainly to bridge the gap between the humans and machines.</p>
      <p>Have a nice day!</p>
      <a href="" class="btn btn-large blue waves-effect waves-light center"> PLAY AGAIN</a>
      </div>
  </div>
</div>